%p.text-xl.font-semibold New book
= render "form", book: @book
%br/
%div
  = link_to "Back to Search", books_path,  class: "bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-3 rounded-full"
